/*
	Defino las variables aqui para que puedan ser usadas por todos los selectores
	para usarlas, en el momento de necesitar poner colores: var(--nombre,por si no se encuentra aqui poner el color normal)
	así para modificar algun color,solo lo hariamos desde aquí
*/
:root{
	--color-blanco: #efedeb;
	--color-gris: #949495;
	--color-dorado: #e39e24;
	--color-dorado-oscuro: #926226;
	--color-negro: #212020;
}

*{
	padding: 0px;
    margin: 0px;
}
/* Ahora aqui que sea mejor los estilos para la principal */
main{
    width: 100vw;
    height: fit-content;
    position: relative;
    top: 66px;
    text-align: center;
}

h1{
    font-size: 2.5em;
    margin-top: 10px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 60%;
  position: relative;
  margin: 20px auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img{
  width:100%;
  height: 100%;
}

.mySlides:before {
  content:'';
  width: 100%;
  height: 99%;
	position: absolute;
  top: 0;
	background-color: rgba(80,80,80,.5);
}

/* Next & previous buttons */
#prev, #next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--color-blanco);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
#next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* Position the "prev button" to the left */
#prev{
    left: 0;
}
/* On hover, add a black background color with a little bit see-through */
#prev:hover, #next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: var(--color-blanco);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 40px;
  left: -10px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.uptext {
  width: 100%;
  color: var(--color-blanco);
  font-size: larger;
  text-align: center;
  padding: 8px 12px;
  position: absolute;
  top: 45%;
}

/* The dots/bullets/indicators */
.dot {
  position: relative;
  bottom: 45px;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--color-dorado-oscuro);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: var(--color-dorado);
}

#descripcion{
  margin: 20px 20px 20px 0; 
  font-size: 1.3em;
  text-align: left;
}

#descripcion span{
  position: relative;
  left: 20%;
}

#descripcion ul{
  width: 50%;
  height: fit-content;
  display: inline-block;
}

#descripcion ul > .contenedor-li-desc{
  width: 100%;
  position: relative;
  left: 50%;
  list-style: none;
}

#descripcion ul li::before {
  content: "\2022";  
  color: var(--color-dorado);
  font-size: 1.3em;
  font-weight: 900; 
  display: inline-block; 
  width: 15px;
}

#reservar{
  width: 35%;
  height: fit-content;
  display: inline-block;
  position: relative;
  text-align: center;
}

#reservar a{
  text-decoration: none;
  color: var(--color-blanco);
  background-color: var(--color-dorado);
  padding: 10px;
  border-radius: 30px;
  position: absolute;
  top: -130px;
}

/* Animación para desvanecer la imagen */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .8}
  to {opacity: 1}
}