/*
	Defino las variables aqui para que puedan ser usadas por todos los selectores
	para usarlas, en el momento de necesitar poner colores: var(--nombre,por si no se encuentra aqui poner el color normal)
	así para modificar algun color,solo lo hariamos desde aquí
*/
:root{
	--color-blanco: #efedeb;
	--color-gris: #949495;
	--color-dorado: #e39e24;
	--color-dorado-oscuro: #926226;
	--color-negro: #212020;
}

*{
	padding: 0px;
	margin: 0px;
}

html,body{
	width: 100vw;
	height: 100vh;
	overflow-x: hidden !important;
}

.header{
	left: 0;
	right: 0;
	background:  var(--color-negro);
	color: var(--color-blanco);
	padding: 15px 0;
	position: fixed;
	z-index: 1;
}

.header a,#footer a{
	color: var(--color-blanco);
	text-decoration: none;
}

.logo-nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.logo{
	margin-left: 20px;
	display: block;
	letter-spacing: 5px;
	font-size: 1.3em;
}

.navegacion ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.navegacion ul li{
	display: inline-block;
}

.navegacion ul li:hover a, .logo:hover,#footer ul li:hover a{
	transition: color 0.2s linear;
	color: var(--color-dorado);
}

.navegacion ul li a{
	left: 0;
	display: block;
	padding: 10px;
	border-radius: 5px;
}

footer{
	width: 100vw;
	height: auto;
	position: relative;
	top: 66px;
	background-color: var(--color-negro);
	padding: 10px;
}

#columnas-footer{
	width: 80%;
	height: fit-content;
	margin: 0 10%;
}

.columna-footer{
	width: 22%;
	height: 100%;
	padding: 10px;
	display: inline-block;
	list-style: none;
	vertical-align: top;
}

.columna-footer > *:first-child{
	margin-bottom: 10px;
	font-weight: 800;
}

.columna-footer > *:last-child{
	margin-bottom: 10px;
}

footer hr{
	width: 80%;
	margin: 0 10%;
	border-color: var(--color-blanco);
}

.contenedor-derechos{
	padding: 10px 0;
	width: 80%;
	height: fit-content;
	margin: 0 10%;
	text-align: end;
	color: var(--color-blanco)
}