:root{
	--color-blanco: #efedeb;
	--color-gris: #949495;
	--color-dorado: #e39e24;
	--color-dorado-oscuro: #926226;
	--color-negro: #212020;
	--color-morado: rgb(145,119,126);
}

*{
	padding: 0px;
	margin: 0px;
}
body{
    background-repeat:no-repeat; 
    background-attachment:fixed; 
    Background-position: center,center;
    background-size: cover;
    text-align:center;
}
.header{
	left: 0;
	right: 0;
	background:  var(--color-negro);
	color: var(--color-blanco);
	padding: 15px 0;
	position: fixed;
	z-index: 1;
}

.header a{
	color: var(--color-blanco);
	text-decoration: none;
}

.logo-nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.logo{
	margin-left: 20px;
	display: block;
	letter-spacing: 5px;
	font-size: 1.3em;
}

.navegacion ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.navegacion ul li{
	display: inline-block;
}

.navegacion ul li:hover a, .logo:hover{
	transition: color 0.2s linear;
	color: var(--color-dorado);
}

.navegacion ul li a{
	left: 0;
	display: block;
	padding: 10px;
	border-radius: 5px;
}


.m1{
    width: 100vw;
    height: 100vh;
    float: left;
    
    text-align: center;
    color: black;
}

.ar1{
    width: 100%;
    height: 30%;
    float: left;
    color:white;
    
    
    
}
 h1{
     position: relative;
     top:30px;
     font-size:70px;
     /*-webkit-text-fill-color: white;
     -webkit-text-stroke:1px;
     -webkit-text-stroke-color:black;*/
     font-family:'Dosis', sans-serif;
     display: inline-block;
    
 }
 #se{
    width: 20%;
    height: 30%;
 }
 #regreso{
    position: relative;
    top:80px;
    font-size:30px;
    left: 20px;
    background: #efeff1;
    color: white;
    display: inline-block;
    margin: 20px;
    padding: 10px 0px;
    text-align: center;
    width: 50px;
    height: 35px;
    text-decoration: none;
    box-shadow: 0px 3px 0px #726e6e;
    border-radius: 100px;
 }

 #regreso:hover {
    box-shadow: 0px 3px 0px #302f2fc7;
    cursor: pointer;
 }
 span{
    background-color: rgba(49, 46, 46, 0.623);
 }
.ar2{
    width: 25%;
    height: 30%;
    float: left;
    background-color: yellow;
}

.ar3{
    width: 25%;
    height: 30%;
    float: left;
    background-color:chocolate;
}

.ar4{
    width: 25%;
    height: 30%;
    float: left;
    background-color:cyan;
}

.ar5{
    width: 25%;
    height: 30%;
    float: left;
    background-color:lawngreen;
}
.ar6{
    width: 25%;
    height: 30%;
    float: left;
    background-color:darkgreen;
}
.ar7{
    width: 25%;
    height: 30%;
    float: left;
    background-color:gray;
}
.ar8{
    width: 25%;
    height: 30%;
    float: left;
    background-color:salmon;
}
.ar9{
    width: 25%;
    height: 30%;
    float: left;
    background-color:darkred;
}

.comida{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: inline-block;
}

.comida > img{
    display: block;
    width: 100%;
    height: 100%;
}

.abajo{
    position: absolute;
    padding: 10px;
    text-align: center;
    top: 100%;
    width: 100%;
    height: 100%;
    background-color: #140101a2;
    color: white;
    transition: .4s ease-in-out;
}

.comida:hover .abajo,.comida:hover{
    cursor: pointer;
    top: 0;
    height: 100%;
}