:root{
	--color-blanco: #efedeb;
	--color-gris: #949495;
	--color-dorado: #e39e24;
	--color-dorado-oscuro: #926226;
	--color-negro: #212020;
	--color-morado: rgb(145,119,126);
}

*{
	padding: 0px;
	margin: 0px;
}

body{
    background-color: rgb(145,119,126);

}
#regreso{
    position: relative;
   
    font-size:15px;
    font-family: 'Bellota', cursive;
    background: #68586d;
    color: white;
    display: inline-block;
    margin: 10px;
    padding: 5px 0px;
    text-align: center;
    width: 100px;
    
    text-decoration: none;
    box-shadow: 0px 3px 0px #282329;
    border-radius: 50px;
 }

.mex{
	border-radius: 20%;
	
}
 #regreso:hover {
    box-shadow: 0px 3px 0px #6e5c72c7;
	cursor: pointer;
 }
.header{
	left: 0;
	right: 0;
	background:  var(--color-negro);
	color: var(--color-blanco);
	padding: 15px 0;
	position: fixed;
	z-index: 1;
}

.header a{
	color: var(--color-blanco);
	text-decoration: none;
}

.logo-nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.logo{
	margin-left: 20px;
	display: block;
	letter-spacing: 5px;
	font-size: 1.3em;
}

.navegacion ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.navegacion ul li{
	display: inline-block;
}

.navegacion ul li:hover a, .logo:hover{
	transition: color 0.2s linear;
	color: var(--color-dorado);
}

.navegacion ul li a{
	left: 0;
	display: block;
	padding: 10px;
	border-radius: 5px;
}

.main1{
    width: 100vw;
    height: 100vh;
    float: left;
    background-color:  rgb(145,119,126);
    text-align: center;
    color: black;
}
.a1{width: 35%;
    height: 100%;
    float: left;
    background-color: rgb(145,119,126);
    color:#212020;
	text-align: center;
}
.text1{
	color: white;
	font-size: 28px;
	font-weight: 800;
	font-family: 'Bellota', cursive;
	z-index: 100;
	position: relative;
	top: 20%;
}
.a2{width: 65%;
    height: 50%;
	float: left;
	position: relative;
	background-image: url(../img/fondo_mexican.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.a2 > * {
	z-index: 100;
} 
.a2::after {
	content:'';
	position: absolute;
	left: 0%;
	top:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0);
	opacity: .35;
	z-index: 1;
}
.a3{width: 21.6%;
    height: 50%;
    float: left;
	background-color: #b1a692;
	font-size: 15px;
}
.a4{width: 21.6%;
    height: 50%;
    float: left;
	background-color: #efedeb;
	font-size: 15px;
}
.a5{width: 21.6%;
    height: 50%;
    float: left;
	background-color:#949495;
	font-size: 15px;
}