/*
	Defino las variables aqui para que puedan ser usadas por todos los selectores
	para usarlas, en el momento de necesitar poner colores: var(--nombre,por si no se encuentra aqui poner el color normal)
	así para modificar algun color,solo lo hariamos desde aquí
*/
:root{
	--color-blanco: #efedeb;
	--color-gris: #949495;
	--color-dorado: #e39e24;
	--color-dorado-oscuro: #926226;
	--color-negro: #212020;
}

*{
	padding: 0px;
    margin: 0px;
}
/* Ahora aqui que sea mejor los estilos para la principal */
main{
    width: 100vw;
    height: fit-content;
    position: relative;
    top: 59px;
}

#presentación{
    padding: 50px 0px 50px 50px;
    background-image: url(../img/foto-hotel.jpg);
    background-size: 100% auto;
    background-position: 0 30%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    color: var(--color-blanco);
}

.nombre-lema{
    margin: 0 50px;
    width: 50%;
}

.nombre-lema h1{
    font-size: 7em;
    letter-spacing: 8px;
}

.lema{
    font-size: 2em;
} 

iframe{
    width:40%; 
    height:315px;
}

#demostraciones{
    width: 100%;
    height: fit-content;
    background-color: var(--color-blanco);
    color: var(--color-negro);
}

#demostraciones a{
    text-decoration: none;
    color: var(--color-negro);
}
/* Aqui aun no sé del todo si deberiamos hacer que se vea gris xd */
#demostraciones a:hover{
    color: var(--color-dorado);
    cursor: pointer;
}

#habitaciones,#restaurantes,#actividades{
    padding: 50px;
}

.contenedor-carrusel{
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: larger;
    color: var(--color-negro);
}

.contenedor-carrusel:nth-child(2) > .texto-desc{
    position: relative;
    left: 40%;
}

#restaurantes > .carousel-imagenes{
    position: relative;
    left: 20%;
}

.texto-desc:nth-child(2){
    position: relative;
    left: 30%;
}

.carousel-imagenes,.texto-desc{
    display: inline-block;
}

.texto-desc{
    width: 70%;
    height: fit-content;
    padding: 30px;
}

.lista-desc{
    list-style: none;
}

.lista-desc,.botonsito{
    margin-left: 10%;
}

section:nth-child(3){
    padding-bottom: 40px;
}

#casino{
    width: 100%;
    height: 500px;
    font-size: x-large;
    background-image: url(../img/casino-fondo.jpg);
    background-position: right;
    background-size: auto;
    display: block;
    position: relative;
    top: -2px;
    border-bottom: 1px solid black;
}

#desc-casino{
    width: 50%;
    height: 100%;
    background-color: var(--color-negro);
    color: var(--color-blanco);
}

#desc-casino h2{
    font-size: 4em;
}

#desc-casino p, #desc-casino h2{
    position: relative;
    top: 60px;
    left: 50px;
}

#desc-casino a{
    color: var(--color-blanco);
    background-color: var(--color-dorado);
    position: relative;
    top: 80px;
    left: 50px;
    padding: 10px;
    border-radius: 50px;
}

#desc-casino a:hover{
    color: var(--color-negro);
    background-color: var(--color-blanco);
    transition: all .3s linear;
}

#foto-dados-casino{
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
}

#dados{
    width: 200px;
    position: absolute;
    z-index: 1;
}

#ubicacion{
    display: block;
    background-color: var(--color-blanco);
    padding: 50px;
    text-align: center;
}

#ubicacion h2{
    font-size: 2em;
    margin: 10px;
    margin-bottom: 10px;
}

#ubicacion iframe{
    width: 700px;
    height: 540px;
}
/*para que no se vea feo xd*/
@media(max-width: 1049px){
    #presentación{
        position: relative;
        display: block;
    }
    .nombre-lema{
        width: 90%;
        position: relative;
        left: 30px;
        margin-left: 10%;
        margin-bottom: 40px;
    }
    iframe{
        width: 70%; 
        height: 400px;
        margin-left: 10%;
    }
    .texto-desc{
        position: relative;
        left: 30%;
    }
    #restaurantes .texto-desc{
        position: relative;
        left: 6%;
        top: 80px;
    }
    #actividades .texto-desc{
        position: relative;
        top: 120px;
    }
    #casino{
        position: relative;
        top: 220px;
    }
    #ubicacion{
        position: relative;
        top: 200px;
    }
    #footer{
        position: relative;
        top: 260px;
    }
}
/*para que no se vea feo x2 xd*/
@media(max-width: 980px){
    #casino{
        width: 100%;
        height: 600px;
        font-size: xx-large;
        background-image: url(../img/casino-fondo.jpg);
        background-position: 0 600px;
        background-size: cover;
    }
    #desc-casino{
        width: 100%;
        height: 50%;
    }
}

/*para que no se vea feo x3 xd*/
@media(max-width: 800px){
    .nombre-lema{
        width: 80%;
        position: relative;
        margin-left: 30px;
        margin-bottom: 40px;
    }
    iframe{
        width: 70%; 
        height: 400px;
        margin-left: 10%;
    }
    .texto-desc{
        position: relative;
        left: 20%;
    }
    #restaurantes .texto-desc{
        position: relative;
        left: -4%;
        top: 80px;
    }
    #actividades .texto-desc{
        position: relative;
        top: 120px;
    }
    #casino{
        font-size: medium;
    }
    #desc-casino{
        width: 100%;
        height: 40%;
    }
}

/*para telefonos*/
@media(max-width: 400px){

}