/*
	Defino las variables aqui para que puedan ser usadas por todos los selectores
	para usarlas, en el momento de necesitar poner colores: var(--nombre,por si no se encuentra aqui poner el color normal)
	así para modificar algun color,solo lo hariamos desde aquí
*/
:root{
	--color-blanco: #efedeb;
	--color-gris: #949495;
	--color-dorado: #e39e24;
	--color-dorado-oscuro: #926226;
	--color-negro: #212020;
}

*{
	padding: 0px;
    margin: 0px;
}
/* Ahora aqui que sea mejor los estilos para la principal */
main{
    width: 100vw;
    height: fit-content;
    position: relative;
    top: 66px;
}

#presentación{
    padding: 50px 0px 50px 50px;
    background-image: url(../img/foto-hotel.jpg);
    background-size: 100% auto;
    background-position: 0 30%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    color: var(--color-blanco);
}

.nombre-lema{
    margin: 0 50px;
    width: 50%;
}

.nombre-lema h1{
    font-size: 5em;
    letter-spacing: 8px;
}

.lema{
    font-size: 2em;
} 

iframe{
    width:40%; 
    height:315px;
}

#demostraciones{
    background-color: var(--color-negro);
    color: var(--color-blanco);
    padding: 30px;
    display: flex;
}

#habitaciones{
    width: 100%;
}

.texto-desc{
    display: inline-block;
    width: 70%;
}

.lista-desc{
    margin-left: 15%;
    margin-bottom: 20px;
}

.botonsito{
    margin-left: 15%;
    margin-top: 15%;
    text-decoration: none;
    background-color: var(--color-dorado);
    color: var(--color-blanco);
    border-radius: 5px;
    padding: 10px;
}

.descripciones-index2{
    float: right;
}

.texto-desc2{
    float: right;
}