/*
	Defino las variables aqui para que puedan ser usadas por todos los selectores
	para usarlas, en el momento de necesitar poner colores: var(--nombre,por si no se encuentra aqui poner el color normal)
	así para modificar algun color,solo lo hariamos desde aquí
*/
:root{
	--color-blanco: #efedeb;
	--color-gris: #949495;
	--color-dorado: #e39e24;
	--color-dorado-oscuro: #926226;
	--color-negro: #212020;
}

*{
	padding: 0px;
    margin: 0px;
}
/* Ahora aqui que sea mejor los estilos para la principal */
main{
    width: 100vw;
    height: fit-content;
    position: relative;
    top: 66px;
}

#presentación{
    padding: 50px 0px 50px 50px;
    background-image: url(../img/foto-hotel.jpg);
    background-size: 100% auto;
    background-position: 0 30%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    color: var(--color-blanco);
}

.nombre-lema{
    margin: 0 50px;
    width: 50%;
}

.nombre-lema h1{
    font-size: 5em;
    letter-spacing: 8px;
}

.lema{
    font-size: 2em;
} 

iframe{
    width:40%; 
    height:315px;
}

#demostraciones{
    width: 100%;
    height: fit-content;
    background-color: var(--color-negro);
}

.contenedor-carrusel{
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: larger;
    color: var(--color-blanco);
}

.contenedor-carrusel:nth-child(2) > .texto-desc{
    position: relative;
    left: 40%;
}

#carrusel-2 > .carousel-imagenes{
    position: relative;
    left: 20%;
}

.texto-desc:nth-child(2){
    position: relative;
    left: 30%;
}

.carousel-imagenes,.texto-desc{
    display: inline-block;
}

.texto-desc{
    width: 70%;
    height: fit-content;
    padding: 30px;
}

.lista-desc,.botonsito{
    margin-left: 10%;
}

.botonsito{
    position: relative;
    top: 20px;
    color: var(--color-blanco);
    padding: 10px;
    background-color: var(--color-dorado);
    border-radius: 5px;
    text-decoration: none;
}
section:nth-child(3){
    padding-bottom: 40px;
}

#ubicacion{
    background-color: var(--color-blanco);
    padding: 50px;
    text-align: center;
}

#ubicacion h2{
    font-size: 2em;
    margin: 10px;
    margin-bottom: 10px;
}

#ubicacion iframe{
    width: 700px;
    height: 540px;
}