/*
	Defino las variables aqui para que puedan ser usadas por todos los selectores
	para usarlas, en el momento de necesitar poner colores: var(--nombre,por si no se encuentra aqui poner el color normal)
	así para modificar algun color,solo lo hariamos desde aquí
*/
:root{
	--color-blanco: #efedeb;
	--color-gris: #949495;
	--color-dorado: #e39e24;
	--color-dorado-oscuro: #926226;
	--color-negro: #212020;
}

*{
	padding: 0px;
	margin: 0px;
}

body{
	font-family: calibri, Helvetica, sans-serif;
}
header{
	font-family: 'Times New Roman', Times, serif;
}

/* Ahora aqui que sea mejor los estilos para la principal */
main{
    width: 100vw;
    position: relative;
	top: 66px;
	padding-bottom: 65px;
	padding-top: 66px;
	background-image: url(../../img/fondo-registro.jpg);
	background-size: cover;
}
.titulo{
	margin-top: 30px;
	font-size: 40px;
	text-align: center;
	color: var(--color-blanco);
	font-weight: bold;
	text-shadow: 2px 1px 2px black;
	letter-spacing: 10px;
}

form{
	background-color: var(--color-blanco);
	color: var(--color-negro);
	border-radius: 10px;
	padding:20px;
	padding-bottom: 30px;
	width: 300px;
	margin:0 auto;
	margin-top: 10px;
	font-size: 15px;
}

.boton{
	border:0;
	outline: none;
	width: 100%;
	background-color: var(--color-dorado);
	color: var(--color-blanco);
	border-radius:7px;
	padding: 8px;
	cursor: pointer;

}

.boton a{
	text-decoration: none;
	color: var(--color-negro);
}


.field{
	border: solid 1px #ccc;
	padding: 10px;
	width: 90%;
}

.fieldciudad{
	border: solid 1px #ccc;
	padding: 10px;
	width: 97%;
}


.fieldnom{
	float: left;
	width: 37%;
	border: solid 1px #ccc;
	padding: 10px;
}

.fieldape{
	float: right;
	width: 42%;
	border: solid 1px #ccc;
	padding: 10px;
	margin-right: 2.7%
}

footer {
	font-family: 'Times New Roman';
}