/*
	Defino las variables aqui para que puedan ser usadas por todos los selectores
	para usarlas, en el momento de necesitar poner colores: var(--nombre,por si no se encuentra aqui poner el color normal)
	así para modificar algun color,solo lo hariamos desde aquí
*/
:root{
	--color-blanco: #efedeb;
	--color-gris: #949495;
	--color-dorado: #e39e24;
	--color-dorado-oscuro: #926226;
	--color-negro: #212020;
}

*{
	padding: 0px;
	margin: 0px;
}

/* Ahora aqui que sea mejor los estilos para la principal */
main{
    width: 100vw;
    position: relative;
	top: 65px;
	padding-bottom: 60px;
}

.error-message {
    min-height: 35vh;
    padding-top: 5vh;
    font-size: large;
}

.gracias-mensaje {
    min-height: 45vh;
    padding-top: 5vh;
    text-align: center;
    font-size: large;
}

.img-fondo {
	width: 100vw;
	height: 100vh;
	background-image: url(../../img/fondo-gracias.jpg);
	background-size: cover;
}

footer {
	margin: 0;
}